{% extends 'myapp/index.html' %}
{% block title %}Edit User{% endblock %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <h2 class="text-center p-3">Edit Form</h2>
        <div class="col-md-6 col-12 d-flex justify-content-center">
            <img src="/static/img/regi.jpg" class="w-100 img-thumbnail img-fluid">
        </div>
        <div class="col-md-6 col-12 mt-4">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="row">
                    <div class="col-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">
                            <i class="fa-solid fa-user"></i>
                        </span>
                            <input type="text" class="form-control" placeholder="Full Name" aria-label="Username"
                                   aria-describedby="basic-addon1" id="fname" name="fullname" value="{{form.fullname.value}}">
                        </div>

                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-12">

                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio1"
                                   value="male" {% if form.gender.value == "male" %}checked{% endif %}>
                            <label class="form-check-label" for="inlineRadio1">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio2"
                                   value="female" {% if form.gender.value == "female" %}checked{% endif %}>
                            <label class="form-check-label" for="inlineRadio2">Female</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="gender" id="inlineRadio3"
                                   value="Other" {% if form.gender.value == "Other" %}checked{% endif %}>
                            <label class="form-check-label" for="inlineRadio3">Other</label>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text">
                          <i class="fa-solid fa-phone"></i>
                        </span>
                            <input type="text" class="form-control" placeholder="Enter Mobile" aria-label="Enter Mobile"
                                   aria-describedby="basic-addon1" id="mobile" name="mobile" value="{{form.mobile.value}}">
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text">
                         <i class="fa-regular fa-envelope"></i>
                        </span>
                            <input type="text" class="form-control" placeholder="Enter Email" aria-label="Enter Mobile"
                                   aria-describedby="basic-addon1" id="email" name="email" value="{{form.email.value}}">
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa-solid fa-address-card"></i></span>
                            <textarea class="form-control" aria-label="With textarea" id="add" name="add">{{form.address.value}}</textarea>
                        </div>

                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">

                        <select class="form-select" aria-label="Default select example" id="country" name="country">
                            <option selected>Open this select Country</option>
                            <option value="ind" {% if form.country.value == "ind" %}selected{% endif %}>India</option>
                            <option value="uk" {% if form.country.value == "uk" %}selected{% endif %}>UK</option>
                            <option value="pak" {% if form.country.value == "pak" %}selected{% endif %}>Pakistan</option>
                            <option value="aus" {% if form.country.value == "aus" %}selected{% endif %}>Austrilia</option>
                            <option value="USA" {% if form.country.value == "usa" %}selected{% endif %}>United State of America</option>
                        </select>
                    </div>

                </div>

                <div class="row mt-3">
                    <div class="col-12">

                        <select class="form-select" aria-label="Default select example" id="state" name="state">
                            <option selected>Open this select State</option>
                            <option value="mh" {% if form.state.value == "mh" %}selected{% endif %}>Maharashtra</option>
                            <option value="mp" {% if form.state.value == "mp" %}selected{% endif %}>Madhya Pradesh</option>
                            <option value="up" {% if form.state.value == "up" %}selected{% endif %}>Utter Pradesh</option>
                            <option value="guj" {% if form.state.value == "guj" %}selected{% endif %}>Gujrat</option>
                            <option value="goa" {% if form.state.value == "goa" %}selected{% endif %}>Goa</option>
                        </select>
                    </div>

                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <div class="input-group mb-3">
                        <span class="input-group-text">
                        <i class="fa-solid fa-city"></i>
                        </span>
                            <input type="text" class="form-control" placeholder="Enter City" aria-label="Enter City"
                                   aria-describedby="basic-addon1" id="city" name="city" value="{{form.city.value}}">

                        </div>

                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <div class="mb-3">
                            <label for="formFile" class="form-label">Default file input example</label>
                            <input class="form-control" type="file" id="formFile" name="profile_image" accept="image/*">
                        </div>

                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="mb-3 text-center">
    {% if form.profile_image.value %}
        <img
            src="{{ form.profile_image.value.url }}"
            alt="Profile Image"
            class="img-thumbnail"
            style="width: 150px; height: 150px; object-fit: cover;">
    {% else %}
        <img
            src="{% static 'images/default.jpg' %}"
            alt="Default Image"
            class="img-thumbnail"
            style="width: 150px; height: 150px; object-fit: cover;">
    {% endif %}
</div>
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12 col-12">
                        <button type="submit" class="btn btn-outline-info w-100">Save Changes <i class="fa-solid fa-user-plus"></i></button>
                    </div>

<!--                    <div class="col-md-6 col-12 mt-2 mt-md-0">-->
<!--                        <button type="button" class="btn btn-warning w-100">Clear <i class="fa-solid fa-broom"></i></button>-->
<!--                    </div>-->
                </div>

            </form>
        </div>
    </div>

</div>


{% endblock %}